{
  "swagger": "2.0",
  "info": {
    "title": "API Evangelist - Issues API",
    "description": "I work to keep all the changes I make to each API self contained within each project repository. I use the Github issues management for organizing my road map, issues, and change log. This is just a static cache of the Github issues for this project.",
    "termsOfService": "http://kinlane.com/terms-of-service.html",
    "version": "v1"
  },
  "host": "issues.api.apievangelist.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/issues/": {
      "get": {
        "summary": "Get Issues",
        "description": "retrieves all issues entries",
        "operationId": "getIssues",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across issues entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the issues entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "Add Issues",
        "description": "add issues",
        "operationId": "addChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host of the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the issues entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/issues/{issues_id}/": {
      "delete": {
        "summary": "Delete Issues",
        "description": "delete an issues entry",
        "operationId": "deleteChangeLog",
        "parameters": [
          {
            "in": "path",
            "name": "issues_id",
            "description": "id for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the issues entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "get": {
        "summary": "Get Issues",
        "description": "retrieve a specific issues entry",
        "operationId": "getChangeLogEntry",
        "parameters": [
          {
            "in": "path",
            "name": "issues_id",
            "description": "id for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "Update Issues",
        "description": "update an issues entry",
        "operationId": "updateChangeLog",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "title",
            "description": "title of the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "image",
            "description": "image for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "header",
            "description": "header for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "footer",
            "description": "footer for the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the issues entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/issues/{issues_id}/keys/": {
      "post": {
        "summary": "Add Issues Key",
        "description": "Add issues key",
        "operationId": "addChangeLogKey",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "issues_id",
            "description": "unique id of the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the issues entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the issues entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/keys"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/issues/{host}/default/": {
      "post": {
        "summary": "Set Default Issues For Host",
        "description": "set default issues for host",
        "operationId": "setDefaultChangeLogForHost",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "issues_id",
            "description": "unique id of the issues entry",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "name of the issues entry key",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "description",
            "description": "description for the issues entry key",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Keys"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/issues/{host}/": {
      "get": {
        "summary": "Get Issues by Host",
        "description": "retrieves all issues entries by host",
        "operationId": "getIssues",
        "parameters": [
          {
            "in": "query",
            "name": "appid",
            "description": "your appid for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "appkey",
            "description": "your appkey for accessing the API",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "query",
            "description": "a text query to search across issues entries",
            "type": "string",
            "format": "string"
          },
          {
            "in": "query",
            "name": "host",
            "description": "host for the issues entry",
            "type": "string",
            "format": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "issues response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/issues"
              }
            }
          }
        },
        "tags": [
          "Issues"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "definitions": {
    "issues": {
      "properties": {
        "issues_id": {
          "description": "The unique id for the issues entry.",
          "type": "string"
        },
        "title": {
          "description": "The title for the issues entry.",
          "type": "string"
        },
        "image": {
          "description": "The image for the issues entry.",
          "type": "string"
        },
        "header": {
          "description": "The header for the issues entry.",
          "type": "string"
        },
        "footer": {
          "description": "The footer for the issues entry.",
          "type": "string"
        },
        "keys": {
          "description": "The keys for the issues entry.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/keys"
          }
        }
      }
    },
    "keys": {
      "properties": {
        "key_id": {
          "description": "The unique id for the issues key.",
          "type": "string"
        },
        "name": {
          "description": "The unique id for the issues entry.",
          "type": "string"
        },
        "description": {
          "description": "The title for the issues entry.",
          "type": "string"
        },
        "issues_id": {
          "description": "The unique id for the issues entry.",
          "type": "string"
        }
      }
    }
  }
}
